@{
  Layout = "_Layout";
}

@model RecordCollection.Models.Artist

<h2>Add Artist</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Add an Album To This Artist: ")
  @Html.DropDownList("AlbumId", (SelectList)ViewBag.AlbumId, " ")

  @Html.Label("Add a Genre To This Artist: ")
  @Html.DropDownList("GenreId", (SelectList)ViewBag.GenreId, " ")

  <input type="submit" value="Add Artist" />
}

<p>@Html.ActionLink("Artist List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>