@{
  Layout = "_Layout";
}

@model RecordCollection.Models.Artist;

<h2>Artist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(ViewBag.AlbumCount == 0)
{
  <p>There are no albums associated with this artist.</p>
}
else
{
  <h4>Albums:</h4>
  <ul>
  @foreach(var join in Model.AlbumsGenres)
  {
    <li>@Html.ActionLink($"{join.Album.Name}", "Details", "Artists", new { id = @join.Album.AlbumId})</li>
  }
  </ul>
}

@if(ViewBag.GenreCount == 0)
{
  <p>There are no genres associated with this artist.</p>
}
else
{
  <h4>Genres:</h4>
  <ul>
  @foreach(var join in Model.AlbumsGenres)
  {
    <li>@Html.ActionLink($"{join.Genre.Name}", "Details", "Genres", new { id = @join.Genre.GenreId})</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Artists", "Index")</p>
<p>@Html.ActionLink("Edit Artist", "Edit", new { id = Model.ArtistId })</p>
<p>@Html.ActionLink("Delete Artist", "Delete", new { id = Model.ArtistId })</p>
<p>@Html.ActionLink("Add Album", "AddAlbum", new { id = Model.ArtistId })</p>
<p>@Html.ActionLink("Add Genre", "AddGenre", new { id = Model.ArtistId })</p>