@{
  Layout = "_Layout";
}

@model RecordCollection.Models.Artist

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ArtistId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Url for a Pic:")
  @Html.TextBoxFor(model => model.ImageUrl)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back Without Saving", "Details", new { id = Model.ArtistId })</p>
<p>@Html.ActionLink("Artist List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>