@{
  Layout = "_Layout";
}

@model RecordCollection.Models.Song

<h2>Add Song</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name);
  @Html.TextBoxFor(model => model.Name);

  @Html.LabelFor(model => model.TrackNumber);
  @Html.TextBoxFor(model => model.TrackNumber, new { @type="number"})

  @Html.Label("Add To Album:")
  @Html.DropDownListFor(model => model.AlbumId, (SelectList)ViewBag.AlbumId);

  <input type="submit" value="Add Song" />
}