@{
  Layout = "_Layout";
}

@model RecordCollection.Models.Genre

<h2>Add Album to @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.GenreId)

  @Html.Label("Select Album:")
  @Html.DropDownList("AlbumId")

  <input type="submit" value="Add Album" />
}

<p>@Html.ActionLink("Back Without Saving", "Details", new { id = Model.GenreId })</p>
<p>@Html.ActionLink("Add Artist", "AddArtist", new { id = Model.GenreId })</p>
<p>@Html.ActionLink("Album List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>