@{
  Layout = "_Layout";
}

@using RecordCollection.Models;
@model RecordCollection.Models.Genre;

<h2>Genre Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(ViewBag.AlbumCount == 0)
{
  <p>There are no albums associated with this genre.</p>
}
else
{
  <h4>Albums:</h4>
  <ul>
  @foreach(AlbumArtistGenre join in Model.AlbumsArtists)
  {
    @if(join.AlbumId != null)
    {
    <li>@Html.ActionLink($"{join.Album.Name}", "Details", "Albums", new { id = @join.Album.AlbumId})</li>
    }
  }
  </ul>
}

@if(ViewBag.ArtistCount == 0)
{
  <p>There are no artists associated with this genre.</p>
}
else
{
  <h4>Artists:</h4>
  <ul>
  @foreach(AlbumArtistGenre join in Model.AlbumsArtists)
  {
    @if (join.ArtistId != null)
    {
    <li>@Html.ActionLink($"{join.Artist.Name}", "Details", "Artists", new { id = @join.Artist.ArtistId})</li>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to Artists", "Index")</p>
<p>@Html.ActionLink("Edit Artist", "Edit", new { id = Model.GenreId })</p>
<p>@Html.ActionLink("Delete Artist", "Delete", new { id = Model.GenreId })</p>
<p>@Html.ActionLink("Add Album", "AddAlbum", new { id = Model.GenreId })</p>
<p>@Html.ActionLink("Add Genre", "AddGenre", new { id = Model.GenreId })</p>